<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="postController" class="AnnotationConfig.controller.PostController" autowire="constructor">
        <constructor-arg index="0" ref="postService"/>
    </bean>
    <bean id="postService" class="AnnotationConfig.service.PostService" autowire="constructor">
        <constructor-arg index="0" ref="postRepository"/>
    </bean>
    <bean id="postRepository" class="AnnotationConfig.repository.PostRepository"/>
</beans>